<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Details</title>
</head>
<body>
    <h2>City</h2>
    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>[[${cityInfo.id}]]</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>[[${cityInfo.name}]]</td>
            </tr>
            <tr>
                <td>Country Code</td>
                <td>[[${cityInfo.countryCode}]]</td>
            </tr>
            <tr>
                <td>Country Name</td>
                <td>[[${cityInfo.countryName}]]</td>
            </tr>
            <tr>
                <td>District</td>
                <td>[[${cityInfo.district}]]</td>
            </tr>
            <tr>
                <td>Population</td>
                <td>[[${cityInfo.population}]]</td>
            </tr>
            <tr>
                <td>Local Weather</td>
                <td>[[${cityInfo.temp}]]</td>
            </tr>
            <tr>
                <td>Local Time</td>
                <td>[[${cityInfo.time}]]</td>
            </tr>
        </tbody>
    </table>

    <p>For a fabulous weekend get away for 2 to [[${cityInfo.name}]] sign up here.</p>
    <form th:action="@{/cities/reservation}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
        <br />

        <div><input type="radio" name="level" value="luxury" />Luxury $1000</div>
        <div><input type="radio" name="level" value="very good" />Very Good $500</div>
        <div><input type="radio" name="level" value="good" checked="checked" />Good $350</div>

        <input style="display: none" type="text" name="city" th:value="${cityInfo.name}" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>